@page "/nasabah/{UserId:int}/{atmId:int}/tarikTunai"
@using ATMBank_.Models;
@using ATMBank_.Context;
@using ATMBank_.Data;
@using ATMBank_.Pages.Pages_Utils
@inject CasetteService casetteService
@inject NasabahService nasabahService
@inject ATMService atmService
@inject UserService userService
@inject NavigationManager NavigationManager

<PageTitle>ATM Bank</PageTitle>

<div class="bg-nasabah">
    <div class="container pt-3">

        <Navbar roleId="user.Role" userId="UserId"></Navbar>

        <div class="row">
            <div class="col-lg-12 text-white text-center mt-5">
                <h3 class="fw-bold">Tarik Tunai</h3>
            </div>
        </div>

        <div class="row row-input">
            <div class="col-lg-6 col-md-4 side-image-tarik-tunai"></div>
            <div class="col-lg-6 col-md-4 right">
                <div class="input-box text-white">
                    <EditForm Model="@info" OnValidSubmit="handleSubmit">
                        <div class="mb-3">
                            <label for="nominal" class="col-md-6 col-form-label fw-bold">Masukkan Nominal (Rp)</label>
                            <p>Silahkan masukkan jumlah uang yang diinginkan</p>
                            <InputNumber id="nominal" @bind-Value="info!.JumlahPenarikan" class="form-control" placeholder="Rp. ">
                            </InputNumber>
                        </div>
                        @if (penarikanSukses == false)
                        {
                            <p><em class="text-danger fw-bold bg-white">@warning</em></p>
                        }
                        <button type="submit" class="btn btn-save-nasabah me-2">Tarik Uang</button>
                        <button type="button" class="btn btn-danger" @onclick="Cancel">Cancel</button>
                    </EditForm>

                    <p class="mt-3">Jumlah yang ditarik: <b>Rp @NominalPenarikan.ToString("#,##0")</b></p>

                    <table class="table text-white mb-5">
                        <thead>
                            <tr>
                                <th>Nominal</th>
                                <th>Jumlah (lembar)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var riwayat in riwayatPenarikan)
                            {
                                if (riwayat.JumlahLembar != 0)
                                {
                                    <tr>
                                        <td>Rp @riwayat.Nominal.ToString("#,##0")</td>
                                        <td>@riwayat.JumlahLembar</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<Footer roleId="user.Role"></Footer>


@code {
    [Parameter]
    public int atmId { get; set; }

    [Parameter]
    public int UserId { get; set; }

    User user = new User();

    List<Casette> daftarPecahan = new List<Casette>();

    private TempInfo info = new TempInfo();

    private Nasabah nasabah = new Nasabah();

    private ATM atm = new ATM();

    List<TempInfo> riwayatPenarikan = new List<TempInfo>();

    int NominalPenarikan = 0;

    string? warning;

    protected override async Task OnInitializedAsync()
    {
        daftarPecahan = await Task.Run(() => casetteService.GetCasettesByATMId(atmId));
        nasabah = await Task.Run(() => nasabahService.GetNasabahByUserId(UserId));
        atm = await Task.Run(() => atmService.GetATMById(atmId));
        user = await Task.Run(() => userService.GetUserById(UserId));
    }

    bool penarikanSukses;

    protected override void OnParametersSet()
    {
        info = new()
            {
                JumlahPenarikan = 0,
            };

        penarikanSukses = true;
    }

    public int id, count, availableCount;

    private async void handleSubmit()
    {
        ResetDaftarRiwayat();

        NominalPenarikan = info.JumlahPenarikan;

        penarikanSukses = true;

        var initialCasette = new List<Casette>(daftarPecahan);

        if (NominalPenarikan > 2500000)
        {
            penarikanSukses = false;
            warning = "Maksimal Nominal Tarik Tunai adalah Rp 2.500.000";
        }
        else if (nasabah.Saldo < info.JumlahPenarikan)
        {
            penarikanSukses = false;
            warning = "Jumlah saldo anda tidak cukup";
        }
        else
        {
            foreach (var casette in daftarPecahan)
            {
                if (info.JumlahPenarikan >= casette.Nominal && casette.Jumlah > 0)
                {
                    penarikanSukses = true;

                    this.id = casette.Id;
                    this.count = info.JumlahPenarikan / casette.Nominal;
                    this.availableCount = Math.Min(count, casette.Jumlah);

                    if (casette.Jumlah <= 0 || availableCount <= 0)
                    {
                        continue;
                    }

                    casette.Jumlah -= availableCount;
                    info.JumlahPenarikan -= availableCount * casette.Nominal;

                    var riwayat = new TempInfo
                        {
                            Nominal = casette.Nominal,
                            JumlahLembar = availableCount
                        };

                    riwayatPenarikan.Add(riwayat);
                }
            }

            if (info.JumlahPenarikan != 0)
            {
                penarikanSukses = false;
                warning = "ATM tidak memiliki cukup uang untuk nominal tersebut";

                foreach (var riwayat in riwayatPenarikan)
                {
                    var casette = initialCasette.FirstOrDefault(c => c.Nominal == riwayat.Nominal);
                    if (casette != null)
                    {
                        casette.Jumlah += riwayat.JumlahLembar;
                    }
                }

                ResetDaftarPecahan();
                ResetDaftarRiwayat();

            }
            else if (penarikanSukses)
            {
                nasabah.Saldo -= NominalPenarikan;
                await UpdateDb();
                ResetDaftarPecahan();
            }
        }
    }

    void Cancel()
    {
        NavigationManager.NavigateTo($"/nasabah/{UserId}/{atmId}");
    }

    private void ResetDaftarPecahan()
    {    
        info.JumlahPenarikan = 0;
    }

    private void ResetDaftarRiwayat()
    {
        riwayatPenarikan.Clear();
    }

    private async Task UpdateDb()
    {
        foreach (var riwayat in riwayatPenarikan)
        {
            var casette = daftarPecahan.FirstOrDefault(c => c.Nominal == riwayat.Nominal);
            if (casette != null)
            {
                await casetteService.UpdateCasette(casette);
            }
        }

        await nasabahService.UpdateNasabah(this.nasabah);
    }
}